.collection{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(185px,0.5fr));
  padding: 1rem;
  grid-gap: 1rem;
}

.movieContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


