<form #searchForm="ngForm"
      (ngSubmit)="searchMovie(searchForm)" novalidate>
  <input #title="ngModel"
         type="text"
         name="title"
         [class.invalid]="searchForm.invalid && searchForm.pristine && searchForm.touched"
         ngModel
         required
         minlength="2">
  <p *ngIf="title.errors?.required && title.touched">Please give us a movie title</p>
  <p *ngIf="title.errors?.minlength">Current length must be at least 2</p>

  <button [disabled]="!searchForm.valid" type="submit" class="btn">Search</button>
</form>

<ul class="collection">
  <li *ngFor="let movie of foundMovies" class="movieContainer">
   <media-movie [movie]="movie" (selected)="addMovie($event.id)"></media-movie>
    <div class="movieDetails">
                    <span class="title">
                        <h6>{{movie.title}}</h6>
          </span>
    </div>
  </li>
</ul>
