



.moviePoster{
  height: 278px;
  width: 185px;
  background-color: dimgrey;


}
.moviePoster img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title{
  text-align: center;
}

.moviePoster{
  height: 278px;
  width: 185px;


}

.moviePoster img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .2s;
}
.moviePoster img:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.moviePoster a{
  cursor: pointer;
}
